---
import Navigation from "../components/Navigation.astro";
---

<header class="mb-16 flex items-center justify-between">
  <a href="/" class="text-lg font-bold text-text-main">Golden Pathway</a>
  <nav>
    <ul
      class="flex space-x-6 font-mono text-sm font-medium uppercase tracking-wider text-text-muted"
    >
      <Navigation />
    </ul>
  </nav>
</header>
